<template>
  <!--begin::Widget -->
  <div
    class="kt-widget kt-widget--user-profile-4 itegration-card profile-card"
    :style="getCardStyle(item.id)"
  >
    <div class="profile-card-top">
      <div class="kt-widget__media">
        <img v-if="item.logo" class="kt-widget__img kt-hidden-" alt="image" :src="item.logo" />
        <img
          v-else
          class="kt-widget__img kt-hidden-"
          src="@/assets/media/users/default.jpg"
          alt="image"
        />
        <img class="kt-widget__img kt-hidden" src="@/assets/media/users/default.jpg" alt="image" />
        <div
          class="kt-widget__pic kt-widget__pic--success kt-font-success kt-font-boldest kt-hidden"
        ></div>
      </div>

      <div class="kt-widget__content">
        <div class="kt-widget__section">
          <a href="#" class="kt-widget__username">{{ item.name }}</a>
          <div class="kt-widget__button">
            <a href="#">{{ item.domain ? item.domain : "" }}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="profile-card-content">
      <div class="card-info">
        <span lass="card-info__label">Роль:</span>
        <span class="card-info__data">
          {{ currentUser.id === item.owner ? "«Владелец»" : "«Участник»" }}
        </span>
      </div>
      <div v-if="currentUser.id === item.owner">
        <div class="card-info card-owner">
          <span lass="card-info__label">Тариф:</span>
          <span class="card-info__data">{{ item.tariff ? item.tariff : "-" }}</span>
        </div>

        <div class="card-info card-owner">
          <span lass="card-info__label">Осталось дней:</span>
          <span class="card-info__data" :style="getDayTextColor(item.prepaid_days)">{{
            getTextDay(item.prepaid_days)
          }}</span>
        </div>

        <div class="card-info card-owner">
          <span lass="card-info__label">Сотрудников:</span>
          <span class="card-info__data">{{ item.staff_count }}</span>
        </div>
      </div>
    </div>

    <div class="profile-card-action">
      <div class="kt-widget__action">
        <button
          :disabled="getCardStyle(item.id)"
          type="button"
          :class="[
            {
              btn: true,
              'btn-sm': true,
              'btn-clean': isBtnClean(item.id),
              'btn-bold': true,
              'btn-label-brand': isBtnLabelBrand(item.id),
              'btn-primary': isBtnPrimary(item.id),
            },
          ]"
          @click="openModal"
        >
          {{ getButtonName(item) }}
        </button>
      </div>
    </div>
  </div>
  <!--end::Widget -->
</template>
<script>
// import { SET_ACTIVE_ACCOUNT } from "@/store/auth.module";
import { mapMutations, mapActions, mapGetters } from "vuex";
import store from "@/store";
import { AUTH_TOKEN_KEY, BASE_HOST, BASE_DOMAIN, HTTP_PROTOCOL } from "@/common/config";
export default {
  name: "AccountCard",

  created() {
    // if (this.$route.params.token) {
    //   localStorage.setItem(AUTH_TOKEN_KEY, this.$route.params.token);
    // }
  },

  props: {
    item: {
      type: Object,
      required: true,
    },
  },

  methods: {
    ...mapMutations(["setActiveAccount"]),
    ...mapActions(["getMyPermissions"]),
    getButtonName(item) {
      return +store.state.auth.activeAccount === +item.id
        ? "Активен"
        : item.prepaid_days === 0
        ? "Оплатить"
        : "Перейти в аккаунт";
    },

    openModal() {
      // console.log("openModal");
      this.makeToast("Успех", "Аккаунт активирован", "success");
      // const currentDomain = location.host.replace(`.${BASE_DOMAIN}`, "");
      // console.log("domain: ", location.host);
      // console.log("this.item.domain: ", this.item.domain + "." + BASE_DOMAIN);
      if (this.item.domain || location.host !== BASE_DOMAIN) {
        const authToken = localStorage.getItem(AUTH_TOKEN_KEY);
        console.log(authToken);
        if (authToken) {
          localStorage.removeItem(AUTH_TOKEN_KEY);
          location.href = this.item.domain
            ? `${HTTP_PROTOCOL}://${this.item.domain}.${BASE_DOMAIN}/change-account/${authToken}/${this.item.id}`
            : `${BASE_HOST}/change-account/${authToken}/${this.item.id}`;
        }
      } else {
        this.setActiveAccount(this.item.id);
        this.getMyPermissions();
      }
    },

    getCardStyle(status) {
      return +store.state.auth.activeAccount === +status;
    },

    isBtnLabelBrand(status) {
      return +store.state.auth.activeAccount !== +status;
    },

    isBtnPrimary(status) {
      return +store.state.auth.activeAccount === +status;
    },

    isBtnClean(status) {
      return +store.state.auth.activeAccount !== +status;
    },

    makeToast(title, body, variant = "success") {
      this.$bvToast.toast(body, {
        title: title,
        variant: variant,
        solid: true,
      });
    },

    getTextDay(day) {
      let textDay = "";
      if (day === 0) {
        textDay = "0 (истек)";
      } else if (day > 0 && day <= 11) {
        textDay = `${day} (истекает)`;
      } else {
        textDay = day;
      }
      return textDay;
    },
    getDayTextColor(day) {
      if (day === 0) {
        return "color: #F64E60";
      } else if (day > 0 && day <= 11) {
        return "color: #FFA800";
      } else {
        return "";
      }
    },
    getLink(domain) {
      // console.log("getLink domain: ", domain, domain !== "");
      return domain !== "" ? `https://${domain}.edmarathon.dzencode.com` : "";
    },
  }, // methods

  computed: {
    ...mapGetters(["currentUser"]),
  },
};
</script>
<style lsng="sass" scoped></style>
