<template>
  <!--:server-items-length="totalItemsLength" - incorrect functionality: items per page work bad  -->
  <v-data-table
      v-model="selected"
      :headers="visibleHeaders"
      :items="items"
      item-key="id"
      :options.sync="options"
      :footer-props="options"
      multi-sort
      show-select
      class="elevation-1"
      @item-selected="({value}) => checkIndeterminate(value)"
      @update:items-per-page="changeListCount"
      @update:sort-desc="getListWithFilters"
      @update:page="changeListPage"
      @click:row="(item) => $emit('click-row-handler', item)"
  >
    <!-- TODO make deleting / editing with permissions -->

    <template v-slot:[`header.data-table-select`]>

      <ResourceTableMenu :headers="headers" @show-all-headers="showAllHeaders"/>

    </template>
    <template v-slot:[`body.prepend`]>
      <tr class="resource__table-tr">
        <td></td>
        <!-- TODO: fields or list from resources ? -->
        <!-- <td v-for="filters in resource.fields" :key="filters.identifier"> -->
        <td v-for="column in visibleHeaders" :key="column.value">
          <v-checkbox
              v-if="column.type === 'checkbox'"
              v-model="headerCheckbox"
              class="resource__table-header"
              primary
              :indeterminate="indeterminate"
              hide-details
              color="rgba(0, 0, 0, 0.54);"
              @click.native="toggleAll"
          ></v-checkbox>
          <v-select
              v-if="column.type === 'multiselect'"
              v-model="filters[column.value]"
              class="resource__table-header"
              hide-details
              multiple
              clearable
              height="48px"
              placeholder="Select options"
              :items="selectOptions(column.options)"
              @change="(val) => changeListFilter(column.value, val)"
          >
            <!-- TODO: options from back? -->
            <!-- :items="columnValueList(column.identifier)" -->
            <template v-slot:selection="{ index }">
              <div v-if="index === 0">
                {{ +filters[column.value].length + ' from ' + columnValueList(column.value).length }}
              </div>
              <div v-else></div>
            </template>
          </v-select>
          <v-select
              v-if="column.type === 'select'"
              v-model="filters[column.value]"
              class="resource__table-header"
              hide-details
              clearable
              height="48px"
              placeholder="Select options"
              :items="selectOptions(column.options)"
              @change="(val) => changeListFilter(column.value, val)"
          >
            <!-- TODO: options from back? -->
            <!-- :items="columnValueList(filters.identifier)" -->
          </v-select>
          <v-text-field
              v-if="column.type === 'text' || column.type === 'textarea' || column.type === 'integer'"
              :ref="'filter_' + column.value"
              v-model="filters[column.value]"
              :type="column.type"
              class="resource__table-header"
              hide-details
              single-line
              height="48px"
              label="Search"
              @change="(val) => changeListFilter(column.value, val)"
          ></v-text-field>
          <v-text-field
              v-if="column.type === 'date'"
              v-model="filters[column.value]"
              type="date"
              class="resource__table-header"
              hide-details
              single-line
              height="48px"
              label="Search date"
              append-icon="mdi-event"
              @change="(val) => changeListFilter(column.value, val)"
          ></v-text-field>
        </td>
      </tr>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import {Component, Vue, Prop} from "nuxt-property-decorator";
import {ITableHeaders} from "~/types/lists";
import {IResource} from "~/types/resources";
import {IResourceRequestOptions} from "~/store/resources";
import ResourceTableMenu from "~/components/resources/ResourceTableMenu.vue";

@Component({
  components: {
    ResourceTableMenu,
  },
})
export default class ResourceListTable extends Vue {
  //  private options: ITableOptions = { - type error
  private options = {
    page: 1,
    itemsPerPage: 10,
    sortBy: [],
    sortDesc: [],
  };

  private data: Array<any> = [];
  public headers: Array<ITableHeaders> = [];
  public totalItemsLength: number = 0;
  private selected: Array<any> = [];
  private filters = {};
  private headerCheckbox: boolean = false;
  private indeterminate: boolean = false;
  private routeIdentifier: string|null = null;

  async created() {
    const resourceList = await this.$store.dispatch("resources/tryResourceList", this.$route.params.mid);
    //  TODO request bu url or by identifier ?
    //  const resourceList = await this.$store.dispatch("resources/tryResourceList", {
    //  identifier: this.$route.params.mid,
    //  url: this.module.url,
    //  });
    if (resourceList) {
      this.data = resourceList.resources.map((resource) => {
        resource.fields.id = resource.id;
        return resource.fields;
      });
      this.totalItemsLength = resourceList.count;
      const headers: Array<ITableHeaders> = [];
      // TODO: change when receive columns from back
      // TODO: fields or list from resources ?
      // this.$props.resource.fields.columns.forEach(column => headers.push({text: column.field, value: column.identifier, align: "start"}));
      const listColumns = this.$props.resource.list.map(field => field.identifier);
      this.$props.resource.fields.forEach((column) => {
        if (listColumns.includes(column.identifier)) {
          headers.push({
            text: column.title,
            value: column.identifier,
            type: column.type,
            options: column.options,
            align: "start",
            showColumn: true,
          });
        }
      });
      this.headers = headers;
      this.routeIdentifier = this.$route.params.mid;
    }
  };

  get visibleHeaders() {
    return this.headers.filter(header => header.showColumn);
  }

  get items() {
    return this.data;
  }

  async changeListPage(page) {
    if (page > Math.ceil(this.items.length / this.options.itemsPerPage)) {
      return await this.getListWithFilters(page);
    }
  }

  async changeListCount(count) {
    if (count > this.items.length) {
      return await this.getListWithFilters();
    }
  }

  async changeListFilter(field, value) {
    if ((typeof this.filters[field] === "string" && !value.trim()) ||
        (Array.isArray(this.filters[field]) && !value.length)) {
      delete this.filters[field];
    }
    return await this.getListWithFilters(1, true);
  }

  async getListWithFilters(page = 1, withoutOptions = false) {
    const {sortBy, sortDesc, itemsPerPage} = this.options;

    if (!withoutOptions &&
        sortBy && sortBy.length === 0 &&
        itemsPerPage && itemsPerPage === 5 &&
        Object.keys(this.filters).length === 0 &&
        page === 1) {
      return;
    }

    const requestOptions: IResourceRequestOptions = {
      identifier: this.$route.params.mid,
      data: {
        limit: itemsPerPage,
      },
    };

    if (page > 1) {
      requestOptions.data.offset = (page - 1) * itemsPerPage;
    }

    if (sortBy && sortBy.length > 0 &&
        sortDesc && sortDesc.length > 0) {
      requestOptions.data.order = [];
      for (let i = 0; i < sortBy.length; i++) {
        requestOptions.data.order.push({identifier: sortBy[i], asc: !sortDesc[i]});
      }
    }

    if (Object.keys(this.filters).length > 0) {
      requestOptions.data.filters = this.filters;
    }

    const resourceList = await this.$store.dispatch("resources/tryResourceListWithOptions", requestOptions);
    if (resourceList) {
      this.totalItemsLength = resourceList.count;
      const filteredData = resourceList.resources.map((resource) => {
        resource.fields.id = resource.id;
        return resource.fields;
      });
      if (page > 1) {
        this.data.push(...filteredData);
      } else {
        this.data = filteredData;
      }
    }
  };

  showAllHeaders() {
    this.headers.forEach((header) => {
      header.showColumn = true;
      return true;
    });
  }

  columnValueList(val) {
    const uniqueColumnData = new Map();
    this.data.forEach(p => p[val] ? uniqueColumnData.set(p[val], "") : "");
    return Array.from(uniqueColumnData.keys());
  }

  selectOptions(opts) {
    const arrayOfOptions: Array<any> = [];
    for (const key in opts) {
      arrayOfOptions.push({text: opts[key], value: key});
    }
    return arrayOfOptions;
  }

  columnWithoutCheckbox(columns) {
    return Object.values(columns).filter((column: any) => column.type !== "checkbox");
  }

  toggleAll() {
    if (this.selected.length) {
      this.selected = [];
      this.indeterminate = false;
      this.headerCheckbox = false;
    } else {
      this.selected = this.data.slice();
    }
  };

  // {item, value}
  checkIndeterminate(checked) {
    if (this.selected.length < this.data.length) {
      this.indeterminate = true;
    } else if (this.selected.length) {
      this.indeterminate = false;
      this.headerCheckbox = false;
    }
    this.$emit("set-selected-count", checked);
  }

  async deleteResourceItems() {

  }

  beforeDestroy() {
    //  clean filtered result from store
    if (this.options.sortBy.length > 0 || Object.keys(this.filters).length > 0) {
      this.$store.commit("resources/removeResourceList", this.routeIdentifier);
    }
  }

  @Prop({required: true}) readonly resource!: IResource;
};

</script>

<style>

</style>
