<template>
  <!-- begin:: Content -->

  <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">
    <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
      <b-modal
        v-model="accountModal"
        id="bv-modal-example"
        centered
        hide-footer
        title="Создание аккаунта"
        @hide="onResetAccountModalData"
      >
        <b-alert :show="error.show" fade variant="danger" class="alert-solid-danger alert-bold">
          {{ error.message }}
        </b-alert>
        <b-form-group>
          <label>Название</label>
          <b-form-input
            v-model.trim="$v.form.accountName.$model"
            :state="validateState('accountName')"
            required
          />
        </b-form-group>
        <b-form-group>
          <label>Адрес аккаунта</label>

          <div class="input-group">
            <b-form-input
              v-model="$v.form.domain.$model"
              :state="validateState('domain')"
              required
            />
            <div class="input-group-append">
              <span class="input-group-text">edmarathon.com</span>
            </div>
            <b-form-invalid-feedback v-if="!$v.form.domain.required">
              Введите доменный адрес.
            </b-form-invalid-feedback>
            <b-form-invalid-feedback v-if="!$v.form.domain.mastBeValid">
              Недопустимый доменный адрес
            </b-form-invalid-feedback>
          </div>
        </b-form-group>

        <div class="modal__actions">
          <b-btn
            :disabled="$v.$invalid"
            type="button"
            @click="addAccount"
            variant="primary"
            form="profile-form"
          >{{ $t("GENERAL.CREATE") }}</b-btn>&nbsp;
        </div>
      </b-modal>
      <div class="accounts">
        <b-alert :show="currentUser.is_email_confirmed === false" variant="warning" fade>
          <div class="alert-text">
            <p>
              Для возможности создания аккаунтов, Вам необходимо подтвердить указанную почту при
              регистрации. Письмо с подтверждением отправлено на почту: {{ currentUser.email }}
            </p>
            <p>
              <a @click="resend" href="#">Отправить письмо еще раз</a>
            </p>
          </div>
        </b-alert>
        <div class="accounts__header">
          <div class="row">
            <div class="col">
              <div class="kt-portlet">
                <div class="kt-portlet__head profile-head">
                  <div class="accounts__title">
                    <h3>Мои аккаунты</h3>
                  </div>

                  <div class="profile-tabs">
                    <button
                      class="btn btn_tiny"
                      :class="filterOwner ? 'active' : ''"
                      @click="setOwnerFilterIntegrations(true)"
                    >Владелец</button>
                    <button
                      class="btn btn_tiny"
                      :class="filterOwner ? '' : 'active'"
                      @click="setOwnerFilterIntegrations(false)"
                    >Участник</button>
                  </div>
                  <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                      <button
                        :disabled="!currentUser.is_email_confirmed"
                        @click="toggleAccountModal"
                        class="creat-account_btn btn btn_tiny btn-primary kt-subheader__btn-primary"
                      >
                        <svg
                          class="btn__ico"
                          width="12"
                          height="12"
                          viewBox="0 0 12 12"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M11.25 6.75H6.75V11.25H5.25V6.75H0.75V5.25H5.25V0.75H6.75V5.25H11.25V6.75Z"
                            fill="white"
                          />
                        </svg>
                        <span class="btn__text">{{ $t("USER.ACCOUNT.ADD") }}&nbsp;</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accounts__body">
          <div class="row">
            <div v-for="item in filteredIntegrations" :key="item.id" class="col-12 col-md-6">
              <div class="kt-portlet kt-portlet--height-fluid">
                <div class="kt-portlet__body">
                  <AccountCard :item="item" @openProperties="openModalPreference" />
                </div>
              </div>
            </div>
          </div>
          <div v-if="integrations.length > 3" class="row">
            <div class="col-xl-12">
              <!--begin:: Components/Pagination/Default-->

              <!--begin: Pagination-->
              <div class="kt-pagination kt-pagination--brand">
                <b-pagination
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="1"
                  @change="setCurretPage"
                  first-class="page-items"
                  last-class="page-items"
                  prev-class="page-items"
                  next-class="page-items"
                  page-class="page-items"
                >
                  <template v-slot:first-text>
                    <span class="kt-pagination__link--first">
                      <i class="fa fa-angle-double-left kt-font-brand"></i>
                    </span>
                  </template>
                  <template v-slot:prev-text>
                    <span class="kt-pagination__link--first">
                      <i class="fa fa-angle-left kt-font-brand"></i>
                    </span>
                  </template>
                  <template v-slot:next-text>
                    <span class="kt-pagination__link--last">
                      <i class="fa fa-angle-right kt-font-brand"></i>
                    </span>
                  </template>
                  <template v-slot:last-text>
                    <span class="kt-pagination__link--last">
                      <i class="fa fa-angle-double-right kt-font-brand"></i>
                    </span>
                  </template>
                </b-pagination>
                <div class="kt-pagination__toolbar">
                  <select
                    v-model="itemsPerPages"
                    class="form-control select2"
                    style="width: 60px;"
                    @change="getFilteredIntegrations"
                  >
                    <option value="6">6</option>
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="48">48</option>
                  </select>
                  <span class="pagination__desc">
                    Показывать {{ filteredIntegrations.length }} из
                    {{ integrations.length }}
                  </span>
                </div>
              </div>
              <!--end: Pagination-->

              <!--end:: Components/Pagination/Default-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end:: Content -->
</template>

<script>
import { SET_BREADCRUMB } from "@/store/breadcrumbs.module";
import AccountCard from "./components/Card";
import ApiService from "@/common/api.service";
import { mapGetters, mapMutations } from "vuex";
import store from "@/store";

import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

const mastBeValid = (value) => !/[^a-zA-Z0-9-]/.test(value);

export default {
  mixins: [validationMixin],
  name: "Accounts",

  components: {
    AccountCard,
  },

  data() {
    return {
      showModalPreference: false,
      totalRows: 1,
      currentPage: 1,
      itemsPerPages: 6,
      filteredIntegrations: [],
      form: {
        accountName: "",
        domain: "",
      },
      integrations: [],
      filterOwner: true,
      error: {
        show: false,
        message: "",
      },
    };
  },

  validations: {
    form: {
      domain: {
        required,
        mastBeValid,
      },
      accountName: {
        required,
      },
    },
  },

  created() {
    if (!store.getters.idAccount)
      this.makeToast(
        "Внимание!",
        "Выберите активный аккаунт для продолжения пользования сайтом!",
        "warning"
      );
    this.getFilteredIntegrations();
  },

  mounted() {
    this.$store.dispatch(SET_BREADCRUMB, [
      { title: this.$t("USER.GENERAL.MY_PROFILE") },
      { title: this.$t("USER.MENU.ACCOUNTS") },
    ]);
  },

  methods: {
    ...mapMutations(["toggleAccountModal", "setAccountModal"]),
    onResetAccountModalData() {
      this.$v.$reset();
      this.form.accountName = "";
      this.form.domain = "";
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    openModalPreference() {
      this.showModalPreference = true;
    },

    getFilteredIntegrations() {
      ApiService.get("/account/project/my_projects")
        .then((response) => {
          // console.log("resp /account/project :", response);
          this.allIntegrations = response;
          this.integrations = this.allIntegrations.filter(
            (integration) => integration.owner === this.currentUser.id
          );
          // this.makeToast("Успех", "Пароль успешно изменён.", "success");
          this.updateIntegrations();
        })
        .catch((response) => {
          this.error.message = response.detail;
          this.error.show = true;
        });
    },

    updateIntegrations() {
      this.filteredIntegrations = this.integrations.slice(0, this.currentPage * this.itemsPerPages);
      this.totalRows = Math.ceil(this.integrations.length / this.itemsPerPages);
      this.currentPage = 1;
    },

    setCurretPage(page) {
      this.filteredIntegrations = this.integrations.slice(
        (page - 1) * this.itemsPerPages,
        page * this.itemsPerPages
      );
    },

    makeToast(title, body, variant = "success") {
      this.$bvToast.toast(body, {
        title: title,
        variant: variant,
        solid: true,
      });
    },

    addAccount() {
      const data = {
        name: this.form.accountName,
        domain: this.form.domain,
      };
      ApiService.post("/account/project/", data)
        .then((response) => {
          console.log("resp /account/project :", response);
          this.makeToast("Успех", "Аккаунт добавлен!", "success");
          this.setAccountModal(false);
          this.domain = "";
          this.accountName = "";
          this.getFilteredIntegrations();
        })
        .catch((response) => {
          this.makeToast(
            "Ошибка",
            response.detail ||
              `${response.name ? response.name + ". " : ""}
               ${response.domain ? response.domain + ". " : ""}`,
            "danger"
          );
        });
    },
    resend() {
      const data = {
        email: this.currentUser.email,
      };
      ApiService.post("/auth/send-confirm-mail/", data)
        .then((response) => {
          console.log("resp /auth/send-confirm-mail/ ", response);
          this.$bvToast.toast(
            `Письмо было повторно отправлено на почту ${this.currentUser.email}!`,
            {
              variant: "success",
            }
          );
        })
        .catch((response) => {
          this.$bvToast.toast("Ошибка", {
            title: `${response.detail}!`,
            variant: "danger",
            solid: true,
            headerClass: "py-2",
            bodyClass: "d-none",
          });
        });
    },

    setOwnerFilterIntegrations(flag) {
      console.log("setOwnerFilterIntegrations", flag);
      this.integrations = this.allIntegrations.filter((integration) =>
        flag
          ? integration.owner === this.currentUser.id
          : integration.owner !== this.currentUser.id
      );
      this.filterOwner = !!flag;
      this.updateIntegrations();
    },
  }, // methods

  computed: {
    ...mapGetters(["currentUser"]),
    accountModal: {
      get() {
        console.log("get account modal");
        return this.$store.state.customStore.accountModal;
      },
      set(val) {
        if (!val) {
          this.error.message = "";
          this.error.show = false;
        }
        this.setAccountModal(val);
      },
    },
  },
};
</script>

<style lang="sass"></style>
